*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face{

    font-family: poppins;
    src: url(fonts/Poppins-BlackItalic.ttf) format('truetype');

}

@font-face{

     font-family: poppins-bold;
    src: url(fonts/Poppins-Bold.ttf) format('truetype');

}

@font-face{

     font-family: poppins-italic;
    src: url(fonts/Poppins-Italic.ttf) format('truetype');

}

:root{

   --maincolor:#171718;
   --secoundcolor:#8596e2e5;
   --trhirdcolor:#eeecf3da;

}

html{

    scroll-behavior: smooth;

}

body{

    background-color: var(--maincolor);

}

.nav-element{

    display: flex;
    padding: 6%;
    align-items: center;
    justify-content: space-between;

}

.logoname{

    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;

}

.logoname p{

    color: rgb(168, 13, 129);
    font-family: poppins-italic;
    font-weight: bold;
    font-size: 26px;

}



/*effect display no cabecalho  inicio*/

.list-elements-links{

    gap: 40px;
    display: flex;
    list-style: none;
    position: relative;

}

.list-elements-links li{

    height: 48px;
    width: 80px;
    display: flex;
    border-radius: 60px;
    transition: .2s;
    align-items: center;
    justify-content: center;
    background-color: #7975759c;
    box-shadow: 8px 8px 25px #000000;

}

.list-elements-links li:hover{

    width: 180px;
    background-image: linear-gradient(46deg,var(--color1),var(--color2));


}

.list-elements-links li span{

    position: absolute;

}

.icon{

    transition: .2s;
    font-size: 2.2em;

}

.text{

    color: #fff;
    font-family: poppins-bold;
    transform: scale(0);
    transition: .2s;
    transition-delay: .1s;
    font-size: 16px;

}

.list-elements-links li:hover .text{

    transform: scale(1);

}

.list-elements-links li:hover .icon{

    transform: scale(0);

}

/*effect display no cabecalho  fim*/

.initial_page_info{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;

}

.name_element{

    color: #d6d5d5;
    margin-left: 10pc;
    font-size: 50px;
    font-family: poppins;
    

}


.rest-content{

    display: flex;
    justify-content: space-between;
    padding: 0% 16%;
    width: 100%;
    flex-direction: row-reverse;

}

.form-capture{

    display: flex;
    gap: 15px;
    flex-direction: column ;
 
}

.form-capture label{

    color: #d6d5d5;
    display: block;
    position: relative;
    font-family: poppins;

}

.information h2{

    font-family: poppins-italic;
    position: relative;
    left: 80%;
    display: block;
    font-size: 40px;
    color: rgb(174, 56, 221);

}


.form-capture input{

    outline: none;
    position: relative;
    top: 6px;
    width: 20pc;
    height: 50px;
    border-radius: 25px;
    padding-left: 30px;
    font-size: 15px;
    font-family: poppins;
    color: #979393;
    border: none;

}

.form-capture input:focus{

    box-shadow: 5px 5px 5px rgba(97,93,93,0.5);
    background-color: var(--maincolor);

}

.information .btn-reference{

    cursor: pointer;
    max-width: 150px;
    height:45px;
    border: none;
    font-size: 15px;
    color: #fff;
    font-family: poppins;
    border-radius: 150px;
    position: relative;
    left: 0;
    top: 15px;
    background-color: #e607c0c0;
    transition: all ease-in-out 0.5s ;
    
}

.information .btn-reference:hover{

    background-color: transparent;
    background-image: linear-gradient(46deg,rgb(54, 28, 52),rgb(168, 13, 129));


}

@media(min-width:1024px){

    .rest-content{

        padding-right: 0 0 0 16%;

    }

    .img-e-book img{

        position: relative;
        left: 120px;

    }


}


@media(max-width:912px){

    .rest-content{

    padding: 0 3% 0 16%;

    }

}

@media(max-width:780px){

    .logoname p{

        color: rgb(168, 13, 129);

    }

    .logoname span{

    display: none;

    }

 .list-elements-links{

    gap: 13px;

   }

 .list-elements-links li{

    width: 50px;

 }

 .list-elements-links li:hover{

    width: 100px;

 }

 .information h2{

    left: 0;
    text-align: center;

}

 .text{

    font-size: 15px;

 }

 
.name_element{
  
    text-align: center;
    margin-left: 0;
    font-size: 40px;

}

    .rest-content{

    display: flex;
    position: relative;
    gap: 30px;
    top: 40px;
    align-items: center;
    justify-content:center;
    flex-direction: column;

    }

    .form-capture{

        position: relative;
        top: 60px;

    }


.information .btn-reference{

    position: relative;
    margin-bottom: 80px;
    max-width: 20pc;
    height: 60px;

}


}